<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="debug-out" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/logs/hiluo-manager/debug.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss} %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="debug" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="info-out" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/logs/hiluo-manager/info.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss} %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="info" />
			<param name="LevelMin" value="info" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="warn-out" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/logs/hiluo-manager/warn.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss} %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="warn" />
			<param name="LevelMin" value="warn" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<appender name="error-out" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/logs/hiluo-manager/error.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss} %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

   <appender name="sys-out" class="org.apache.log4j.ConsoleAppender">
		<param name="Encoding" value="GBK" />
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[CMS] %d{yyyy-MM-dd HH:mm:ss,SSS} %p %C.%M(%L) %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="info" />
			<param name="LevelMax" value="fatal" />
			<param name="acceptOnMatch" value="true" />
		</filter>
	</appender> 

	<root>
		<priority value="all" />
		<appender-ref ref="debug-out" />
		<appender-ref ref="info-out" />
		<appender-ref ref="warn-out" />
		<appender-ref ref="error-out" />
		<appender-ref ref="sys-out" />
	</root>
</log4j:configuration>
